 .u-section-1 {
  background-image: none;
  min-height: 1140px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 820px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 80px 30px 114px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 71px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.125rem;
  margin: 41px 68px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 60px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 7px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: 7px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.2em;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 161px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.2em;
}

.u-section-1 .u-image-1 {
  min-height: 820px;
  pointer-events: auto;
  background-image: url("../images/female-mask-and-injection34.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 126px;
  box-shadow: 10px 20px 40px 0px rgba(119,170,217,0.25);
  width: 774px;
  height: auto;
  margin: 645px auto 0 -492px;
}

.u-section-1 .u-container-layout-5 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-family: Alata;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 26px auto 0 30px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  font-size: 1.2em;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-family: Alata;
  font-size: 1.125rem;
  margin: -34px auto 0 230px;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  font-size: 1.2em;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-family: Alata;
  font-size: 1.125rem;
  margin: -34px 248px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  font-size: 1.2em;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -34px 41px 0 auto;
  padding: 13px 33px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -16px 564px 0 60px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -32px 380px 0 260px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -32px 191px 0 456px;
}

.u-section-1 .u-list-2 {
  width: 1140px;
  margin: 30px auto 1px;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 289px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0 0;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0 0;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 0 0;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 0 0;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 996px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 849px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 80px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 57px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 96px;
  }

  .u-section-1 .u-image-1 {
    min-height: 849px;
  }

  .u-section-1 .u-group-1 {
    min-height: 176px;
    width: 748px;
    margin-top: 545px;
    margin-left: -440px;
    height: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 56px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 218px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -30px;
    margin-right: 281px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -38px;
    margin-right: 76px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 538px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 344px;
    margin-left: 239px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 344px;
    margin-left: 239px;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 238px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1083px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 869px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 59px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 41px;
  }

  .u-section-1 .u-image-1 {
    min-height: 869px;
  }

  .u-section-1 .u-group-1 {
    min-height: 278px;
    width: 686px;
    margin-top: 562px;
    margin-left: -317px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 207px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -34px;
    margin-right: 239px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -18px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -32px;
    margin-right: 535px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -64px;
    margin-right: 376px;
    margin-left: 230px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -61px;
    margin-right: 209px;
    margin-left: 381px;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 174px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1630px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 52px;
    padding-right: 52px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 56px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 36px;
  }

  .u-section-1 .u-image-1 {
    min-height: 905px;
  }

  .u-section-1 .u-group-1 {
    min-height: 354px;
    width: 528px;
    margin-top: 502px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 12px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 62px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 62px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 3px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -233px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 64px;
    margin-right: 325px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 64px;
    margin-right: 325px;
    margin-left: 38px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 139px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1278px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 21px 0;
  }

  .u-section-1 .u-text-1 {
    width: 342px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 342px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 342px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 124px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 49px;
    margin-left: 49px;
  }

  .u-section-1 .u-image-1 {
    min-height: 717px;
  }

  .u-section-1 .u-group-1 {
    min-height: 320px;
    width: 388px;
    margin-top: 375px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 29px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 53px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 50px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -9px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -200px;
    margin-right: 169px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 52px;
    margin-right: 188px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 52px;
    margin-right: 193px;
    margin-left: 30px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 88px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 561px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 32px 609px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 346px;
  grid-gap: 0px 0px;
  grid-auto-columns: 25%;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-2 .u-group-1 {
  width: 249px;
  min-height: 346px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: auto;
  transition-duration: 0.5s;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 19px auto 0 0;
  padding: 7px 15px 7px 14px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-2 .u-text-3 {
  background-image: none;
  font-family: Alata;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-family: Alata;
  font-size: 0.875rem;
  margin: 28px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 7px;
}

.u-section-2 .u-group-2 {
  width: 249px;
  min-height: 346px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: auto;
  transition-duration: 0.5s;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 23px 30px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: 19px auto 0 0;
  padding: 7px 15px 7px 14px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-2 .u-text-5 {
  background-image: none;
  font-family: Alata;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-family: Alata;
  font-size: 0.875rem;
  margin: 28px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 7px;
}

.u-section-2 .u-group-3 {
  width: 249px;
  min-height: 346px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: auto;
  transition-duration: 0.5s;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 23px 30px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: 19px auto 0 0;
  padding: 7px 15px 7px 14px;
}

.u-section-2 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-2 .u-text-7 {
  background-image: none;
  font-family: Alata;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-family: Alata;
  font-size: 0.875rem;
  margin: 28px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 7px;
}

.u-section-2 .u-group-4 {
  width: 249px;
  min-height: 346px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: auto;
  transition-duration: 0.5s;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 23px 30px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  background-image: none;
  margin: 19px auto 0 0;
  padding: 7px 15px 7px 14px;
}

.u-section-2 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-2 .u-text-9 {
  background-image: none;
  font-family: Alata;
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  font-family: Alata;
  font-size: 0.875rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 760px;
    margin-right: 409px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 285px;
    grid-template-columns: repeat(4, 25%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-right: 189px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 499px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-right: 9px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 575px;
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }
}

.u-section-2 .u-group-1,
.u-section-2 .u-group-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-2 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-2 .u-group-2,
.u-section-2 .u-group-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-2.u-group-2.u-group-2:hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-2 .u-group-2.u-group-2.u-group-2.hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-2 .u-group-3,
.u-section-2 .u-group-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-3.u-group-3.u-group-3:hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-2 .u-group-3.u-group-3.u-group-3.hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-2 .u-group-4,
.u-section-2 .u-group-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-4.u-group-4.u-group-4:hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-2 .u-group-4.u-group-4.u-group-4.hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 765px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  background-image: url("../images/female-mask-finger.png");
  background-position: 50% 50%;
  min-height: 625px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 38px 43px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 23px 43px 0;
}

.u-section-3 .u-accordion-1 {
  width: 555px;
  margin: 30px 44px 0 43px;
}

.u-section-3 .u-accordion-link-1 {
  font-family: Alata;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 2px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-accordion-link-2 {
  font-family: Alata;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 2px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-3 .u-accordion-link-3 {
  font-family: Alata;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 2px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-accordion-link-4 {
  font-family: Alata;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 2px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-accordion-link-5 {
  font-family: Alata;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 2px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-3 .u-image-1 {
    min-height: 515px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 669px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-accordion-1 {
    width: 465px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-3 .u-image-1 {
    min-height: 867px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-accordion-1 {
    width: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-3 .u-image-1 {
    min-height: 650px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 704px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-3 .u-image-1 {
    min-height: 409px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 734px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 927px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 816px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 24px 0 2px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 76px 35px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.125rem;
  margin: 41px 35px 0;
}

.u-section-4 .u-list-1 {
  width: 570px;
  margin: 107px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 443px;
  grid-gap: 0px 0px;
  grid-auto-columns: 50%;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 7px 3px;
}

.u-section-4 .u-group-1 {
  width: 249px;
  min-height: 208px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: auto;
  transition-duration: 0.5s;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 19px auto 0 0;
  padding: 7px 15px 7px 14px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-4 .u-text-3 {
  font-family: Roboto, sans-serif;
  margin: -52px 0 0 69px;
}

.u-section-4 .u-text-4 {
  font-family: Alata;
  font-size: 0.875rem;
  margin: 6px 0 0 70px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  font-family: Alata;
  font-weight: normal;
  margin: 30px auto 0;
  padding: 8px auto 8px 73px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 7px 3px;
}

.u-section-4 .u-group-2 {
  width: 249px;
  min-height: 208px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: auto;
  transition-duration: 0.5s;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 23px 30px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: 19px auto 0 0;
  padding: 7px 15px 7px 14px;
}

.u-section-4 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-4 .u-text-5 {
  font-family: Roboto, sans-serif;
  margin: -52px 0 0 69px;
}

.u-section-4 .u-text-6 {
  font-family: Alata;
  font-size: 0.875rem;
  margin: 6px 0 0 70px;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  font-family: Alata;
  font-weight: normal;
  margin: 30px auto 0;
  padding: 8px auto 8px 73px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 7px 3px;
}

.u-section-4 .u-group-3 {
  width: 249px;
  min-height: 208px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: auto;
  transition-duration: 0.5s;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-7 {
  padding: 23px 30px;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  background-image: none;
  margin: 19px auto 0 0;
  padding: 7px 15px 7px 14px;
}

.u-section-4 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-4 .u-text-7 {
  font-family: Roboto, sans-serif;
  margin: -52px 0 0 69px;
}

.u-section-4 .u-text-8 {
  font-family: Alata;
  font-size: 0.875rem;
  margin: 6px 0 0 70px;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  font-family: Alata;
  font-weight: normal;
  margin: 30px auto 0;
  padding: 8px auto 8px 73px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 7px 3px;
}

.u-section-4 .u-group-4 {
  width: 249px;
  min-height: 208px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  height: auto;
  transition-duration: 0.5s;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-9 {
  padding: 23px 30px;
}

.u-section-4 .u-btn-7 {
  border-style: none;
  background-image: none;
  margin: 19px auto 0 0;
  padding: 7px 15px 7px 14px;
}

.u-section-4 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-4 .u-text-9 {
  font-family: Roboto, sans-serif;
  margin: -52px 0 0 69px;
}

.u-section-4 .u-text-10 {
  font-family: Alata;
  font-size: 0.875rem;
  margin: 6px 0 0 70px;
}

.u-section-4 .u-btn-8 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  font-family: Alata;
  font-weight: normal;
  margin: 30px auto 0;
  padding: 8px auto 8px 73px;
}

.u-section-4 .u-image-1 {
  min-height: 816px;
  pointer-events: auto;
  background-image: url("../images/men-blue.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-10 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1023px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 849px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 80px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 470px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 541px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 849px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 865px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 869px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 59px;
  }

  .u-section-4 .u-list-1 {
    width: 360px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    min-height: 869px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1224px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 52px;
    padding-right: 52px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 905px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 936px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 21px 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 717px;
  }
}

.u-section-4 .u-group-1,
.u-section-4 .u-group-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-4 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-4 .u-group-2,
.u-section-4 .u-group-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-group-2.u-group-2.u-group-2:hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-4 .u-group-2.u-group-2.u-group-2.hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-4 .u-group-3,
.u-section-4 .u-group-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-group-3.u-group-3.u-group-3:hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-4 .u-group-3.u-group-3.u-group-3.hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-4 .u-group-4,
.u-section-4 .u-group-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-group-4.u-group-4.u-group-4:hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-4 .u-group-4.u-group-4.u-group-4.hover {
  box-shadow: 0 0 8px 0 rgba(173,204,233,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}